<h1>{{ title }}</h1>
 <table>
   <tr>
    <td>Ssn</td>
    <td>Name</td>
    <td>Dno</td>
</tr>
{{#each employee}}
<tr>
    <td>{{Ssn}}</td>
    <td>{{Name}}</td>
    <td>{{Dno}}</td>
    </tr>
    {{/each}}
 </table>